.clearfix::after{
  content: '';
  display: block;
  clear: both;
}



.hedder {
  background-color: #141f40;
  height: 100px;
  width: 400px;
}

.left {
  background-color: #80bfa8;
  height: 250px;
  width: 150px;
  float: left;
}

.right {
  float: left;
}

.footer {
  background-color: #d98d30;
  height: 100px;
  width: 400px;
}

.left-top {
  background-color: #dbd400;
  height: 50px;
  width: 150px;
  
}
.left-bottom {
  background-color: #0093b7;
  height: 100px;
  width: 150px;
  
}
.box{
  float: left;
}
.right-top {
  background-color: #ff9e6b;
  height: 150px;
  width: 100px;
  float: right;
}
.bottom {
  background-color: #8c2727;
  height: 100px;
  width: 250px;
  clear: left;
}